* {
    background-color:#e3bc9a

}


.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  
}

.main-logo {
    width: 170px;
}

.text-header {
    text-align: center;
    font-size: 26px;
    color: white;
    font-weight: bold;
    padding-top: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    overflow: hidden;
}


.img-content {
    width: 350px;
    height: 200px;
    border: 8px solid #D2A109;
    border-radius: 10px;

    
}

.container-texto {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.texto-preco {
    text-align: center;
    color: black;
    border: 3px solid white;
    border-radius: 10px;
    
}


@media (max-width: 600px) {

 .main-logo {
        width: 150px;
    }
    
}